nav li{
    list-style: none;
   
}

.first-button{
    font-size: 45px;
    margin-right: 150px;
    margin-top: 51px;
   color: aliceblue;
    border-radius: 10px;
    padding: 20px 40px;
    background-color: #4E47FF;
}
.first-h3{
    font-size: 68px;
    margin-left: 150px;
    margin-top: 50px;
    color: #4E47FF;
}
nav{
    display: flex;
 justify-content: space-between;
}
.first-div{
   text-align: center;
   margin-top: 309px;
}
.first-h2{
    font-size: 68px;
}
.second-button{
    font-size: 30px;
    border-radius: 10px;
    padding: 12px 32px;
    margin-top: 25px;
    background-color: #4E47FF;
    color: aliceblue;
}

.second-div{
   display: flex;
   justify-content: center;
   margin-top: 116px;
}

.third-div{
    margin-left: 130pxpx;
    margin-right: 100px;
    font-size: 38px ;
}
.fourth-div{
    margin-right: 160px;
    margin-left: 190px;
    
    border-radius: 15px;
}
.first-p{
    color: #252432;
    margin-bottom: 0%;
}
.button {
margin-left: 360px;
margin-top: 0%;

}
.index{
    display: flex;
    justify-content: space-around;
}
.need{
    text-align: center;
    background-color: hsl(242, 100%, 90%);
    margin: 10px 300px;
    padding: 10px;
    border-radius: 18px;
}
.h31{
    font-size: 55px;
    margin-bottom: 0%;
}
.h2-need{
    font-size: 50px;
}
h4{
    font-size: 30px;
    margin-top: 0%;
    color: #000000;
   
}
.image-revew{
    display: flex;
}
.gap{
    margin-left: 10px;
    margin-top: 0%;
    color: #757575;
    margin-right: 0%;
}
.users{
    font-size: 55px;
    text-align: center;
}
.revew{
    display: flex;
    justify-content: center;
   margin: 0px 30px;
 font-size: 25px;
 
}
.p-first{
    color: #1E1E1E;
}
.image{
    width: 45px;
    height: 50px;
    border-radius: 20px;
    margin-right: 0%;
    
}
.div-class
{
    background-color: #fff9f9;
    padding: 15px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 150px auto;
  height: 320px;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 5px;
  font-size: 14px;
}

textarea {
  min-height: 80px;
}
.last-h2{
    font-size: 125px;
    margin-right: 90px;
    margin-top: 200px;
}
.from{
    display: flex;
    justify-content: center;
}
.last-class{
    font-size: 25px;
}
input{
    font-size: 20px;
}
h1{
    font-size: 160px;
    text-align: center;
    color: #4E47FF;
    margin-bottom: 0%;
}
.last-p{
    text-align: center;
    color: #8987A1;
    font-size: 26px;
    margin-top: 0%;
    margin-bottom: 0%;
    
}
.last-div{
    display: flex;
    justify-content: center;
   gap: 30px;
    color: #8987A1;
    font-size: 26px;
    margin-top: 0%;
}
button:hover {
  background-color: #00fd04;
}